/*Estilo del Portal de Contrataciones Abiertas de Honduras y Correcciones al template de bootstrap y el plugin elastic List*/
/* color base #3B53A4 */
html,body{
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;
}
body{
	padding-top:66px;
}
.busquedaEspaciadoHorizontal{
	white-space: nowrap;
}
.busquedaEspaciadoHorizontal *{
	white-space:normal;
}
.fondoColorPrimario{
	background: #3B53A4;
}
.fondoColorSecundario{
	background: #273F5B;
}
.fondoColorClaro{
	background:#f8f9fa;
}
.fondoColorGrisaseo{
	background:#f1f3f5;
}
.textoColorTitulo{
	color:#495057;
}
.textoColorSecundario{
	color: #273F5B;
}
.textoColorPrimario{
	color: #3B53A4;
}
.textoColorGris{
	color:#c4c4c4;
}
.fondoColorGris{
	background:#c4c4c4;
}
.textoColorBlanco{
	color:white;
}
.fondoColorBlanco{
	background:white;
}
.fondoColorGrisOscuro{
	background: #333333;
}
.fondoColorGrisOscuroClaro{
	background:#3b3b3b;
}
.fondoColorVerde{
	background-color: #28a745;
}
.fondonColorAzul{
	background-color: #007bff;
}
.fondoColorRojo{
	background-color: #dc3545;
}
.fondoColorCobaltp{
	background-color: #17a2b8;
}
.campoAzulBusqueda{
	background: white;
 	border: 1px solid #ededed;
	/*border:none;*/
	border-radius: 24px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	height: 48px;
	padding-right: 50px;
	padding-left: 25px;
 /*box-shadow: 5px 0 15px 0 rgba(39, 55, 112, 0.3);
 */
	color:#3B53A4;
}
.campoBlancoTextoSeleccion{
	border: none;
	border-radius: 13px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	height: 26px;
	padding: 5px 10px;
	color:#3B53A4;
	outline:0;
	width: 100%;
	background-color: #f7f7f7;
	

}
.campoSeleccion{
	border: none;
	border-radius: 15px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	height: 30px;
	padding: 5px 10px;
	color:#3B53A4;
	outline:0;
	width: 100%;
	background-color: #e2e7f6;
	line-height: 20px;
	font-size: 12px;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

.campoSeleccion {
	background-image:
	  linear-gradient(45deg, transparent 50%, gray 50%),
	  linear-gradient(135deg, gray 50%, transparent 50%);
	background-position:
	  calc(100% - 20px) calc(1em + 2px),
	  calc(100% - 15px) calc(1em + 2px),
	  calc(100% - 2.5em) 0.5em;
	background-size:
	  5px 5px,
	  5px 5px,
	  1px 1.5em;
	background-repeat: no-repeat;
  }
  
.ancho50{
	max-width: 50px;
}
.ancho70{
	max-width: 70px;
}
.ancho100{
	max-width: 100px;
}
.ancho200{
	max-width: 200px;
}
.ancho300{
	max-width: 300px;
}
.ancho400{
	max-width: 400px;
}
.enLinea{
	display: inline-block;
}
.campoAzulBusqueda::placeholder{
	color:#c4c4c4;
	font-style: italic;
}
.campoAzulBusqueda:focus,.campoAzulBusqueda:hover{
 /* background: #3B53A4;
 */
	/*border:none;*/
	border: 1px solid white;
	box-shadow: 5px 0 15px 0 rgba(39, 55, 112, 0.2);
 /* color:white;
 */
}
.campoAzulBusquedaPadre{
	position: relative;
	width:100%;
	display: inline-block;
	vertical-align: top;
}
.campoAzulBusquedaPadre.extraNormal {
	width: calc( 100% - 65px);
}
.campoAzulBusquedaPadre .campoAzulBusqueda{
	display: inline-block;
}
.campoAzulBusquedaPadre i{
	display: inline-block;
	color:#3B53A4;
	position: absolute;
	font-size: 1.5rem;
	right: 15px;
	top:10px;
}
.campoAzulBusqueda:focus + i{
	color: #3B53A4;
}
.campoBlancoBusqueda{
	background: white;
	border:none!important;
	border-radius: 32px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	height: 64px;
	padding-right: 50px;
	vertical-align: top;
}
.campoBlancoBusqueda::placeholder{
	color:#8a9cd8;
	font-style: italic;
}
.campoBlancoBusqueda:focus,.campoBlancoBusqueda:hover{
	color:#8a9cd8;
	box-shadow: 5px 0 15px 0 rgba(255, 255, 255, 0.3);
}
.campoBlancoBusquedaPadre{
	position: relative;
	width: calc(100% - 74px);
	margin-left: 10px;
	z-index: 2;
}
.campoBlancoBusquedaPadre .campoBlancoBusqueda{
	display: inline-block;
}
.campoBlancoBusquedaPadre i{
	display: inline-block;
	color:#3B53A4;
	position: absolute;
	font-size: 35px;
	right: 15px;
	top:12px;
	outline: 0;
}
.fondoPrincipalInicio,.fondoPrincipalPagina{
	min-height: calc(100vh - 66px);
	position: relative;
}
.fondoIconos{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	opacity: 0.2;
	z-index: 0;
}
.botonBlancoFiltroBusqueda{
	height: 64px;
	width: 64px;
	border-radius: 32px;
	border:none;
	outline: 0!important;
	appearance: none;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	background: white;
	color: #3B53A4;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	vertical-align: top;
}
.contenedorFiltroBusqueda .OpcionFiltroBusqueda{
	display: flex;
	padding-bottom: 5px;
}
.contenedorFiltroBusqueda .OpcionFiltroBusqueda .etiquetaOpcionFiltroBusqueda{
	padding-left: 5px;
}
.botonAzulFiltroBusqueda{
	height: 48px;
	width: 48px;
	border-radius: 24px;
	border:none;
	outline: 0!important;
	appearance: none;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	background: #3B53A4;
	color: white;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.contenedorBotonAzulFiltroBusqueda{
	display: inline-block;
	vertical-align: top;
}
.contenedorBotonBlancoFiltroBusqueda{
	width: auto;
	z-index: 2;
	position: relative;
}
.contenedorBusquedaInicial{
	max-width: 600px;
	margin: auto;
	padding-top: 30vh;
	font-size:35px;
}
.botonBlancoFiltroBusqueda:focus,.botonBlancoFiltroBusqueda:hover{
	box-shadow: 5px 0 15px 0 rgba(255, 255, 255, 0.3);
}
.botonAzulFiltroBusqueda:focus,.botonAzulFiltroBusqueda:hover{
	color: #3B53A4;
	background: white;
	box-shadow: 5px 0 15px 0 rgba(39, 55, 112,0.3);
 /*#273770*/
}
.tituloInicio{
	color: white;
	text-align: center;
	width: 100%;
	font-weight: 300;
	padding-top: 2em;
}
@media screen and (max-width: 767px) {
	.tituloInicio{
			font-size: 2em;
 }
}
@media screen and (max-width: 600px) {
	.tituloInicio{
			font-size: 1.5em;
 }
}
.imagenFooterPrincipal{
	width: 150px;
	margin:0 auto;
	display: block;
	padding: 10px;
}
.etiquetaFiltro{
	background: #E9EBEE;
	color: #3B53A4;
	height: 30px;
	border-radius: 15px;
	font-size: 1rem;
	padding: 2px 12px;
	box-sizing: border-box;
	display: inline-block;
	margin-top:5px;
	margin-right: 10px;
}
/*BUSQUEDA*/
.contenedorFiltrosBusqueda{
	display: inline-block;
	width: 250px;
	vertical-align: top;
 /*background: red;
	*/
	box-sizing: border-box;
 /*padding: 10px;
	*/
	margin-top:25px;
}
.contenedorResultadosBusqueda{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 250px);
	box-sizing: border-box;
}
.contenedorBusqueda{
	white-space: nowrap;
}
.filtroBusquedaPagina{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 10px;
}
.filtroBusquedaPagina .tituloFiltroBusquedaPagina{
	background-color: #eeeeee;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	font-size: 20px;
	background-color: #3B53A4;
	color: white;
}
.opcionesFiltroBusquedaPagina{
	padding: 10px;
	box-sizing: border-box;
}
.opcionFiltroBusquedaPagina{
	font-size: 18px;
	margin-left:10px;
	cursor: pointer;
}
.opcionFiltroBusquedaPagina i{
	color:#E9EBEE;
}
.opcionFiltroBusquedaPagina i{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.opcionFiltroBusquedaPagina i:before{
	content: "\f111";
}
.opcionFiltroBusquedaPagina.activo{
	color:#3B53A4;
}
.opcionFiltroBusquedaPagina.activo i:before{
	content: "\f00c";
}
.opcionFiltroBusquedaPagina.activo span{
	font-weight: 600;
}
.filtroBusquedaPagina + .filtroBusquedaPagina{
	margin-top:10px;
}
.opcionesFiltroBusquedaPagina .opcionFiltroBusquedaPagina{
	white-space: normal;
}
.opcionesFiltroBusquedaPagina .opcionFiltroBusquedaPagina i{
	display: inline-block;
	vertical-align: top;
}
.opcionesFiltroBusquedaPagina .opcionFiltroBusquedaPagina span{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 30px);
}
.resultadoBusquedaProceso{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
}
.resultadoBusquedaProceso + .resultadoBusquedaProceso{
	margin-top:10px;
}
.contenedorTablaCaracteristicas{
	display: inline-block;
	width: 50%;
}
.contenedorTablaCaracteristicas table{
	border-collapse: collapse;
}
.contenedorTablaCaracteristicas table .tituloTablaCaracteristicas{
	color:#3B53A4;
}
.contenedorTablaCaracteristicas table .contenidoTablaCaracteristicas{
	padding-left: 20px;
	white-space: normal;
}
.textoFlotanteDerecha{
	float: right;
}
.textoAlineadoDerecha{
	text-align: right;
}
.textoAlineadoCentrado{
	text-align: center;
}
.textoAlineadoJustificado{
	text-align: justify;
}
.contenedorMonto{
	display: inline-block;
	vertical-align: top;
}
.montoTotalProceso{
	display: inline-block;
	vertical-align: bottom;
	margin-left: auto;
}
.montoTotalProceso img{
	height: 50px;
	display: inline-block;
	vertical-align: top;
}
.contenedorMonto .valorMonto{
	font-size: 25px;
	line-height: 20px;
}
.contenedorProceso{
	white-space: nowrap;
}
.anchoTotal{
	width: 100%;
}
.textoTituloResultadoBusqueda{
	font-size: 20px;
}
.contenedorFiltros{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	width: 100%;
	border-radius: 10px;
	box-sizing:border-box;
	padding: 10px;
}
.botonGeneral{
	color:white;
	border-radius: 17.5px;
	padding: 6px 15px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none!important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	box-sizing: content-box;
	font-size: 13px;
}
.botonGeneral.tamanoExtra{
	padding: 8px 15px;
	font-size: 15px;
}
.botonGeneral.fondoColorPrimario:hover,.botonGeneral.fondoColorPrimario:focus{
	color:white;
	box-shadow: 5px 0 15px 0 rgba(59, 83, 164,0.3);
}
.botonGeneral.fondoColorSecundario:hover,.botonGeneral.fondoColorPrimario:focus{
	color:white;
	box-shadow: 5px 0 15px 0 rgba(39, 63, 91,0.3);
}
.grupoEtiquetaTitulo,.filtrosAplicados{
	display: inline-block;
}
.grupoEtiquetaTitulo{
	font-weight: 500;
}
.tituloFiltrosAplicados{
	font-size: 20px;
}
.informacionResultadosBusqueda{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	width: 100%;
	border-radius: 10px;
	box-sizing:border-box;
	padding: 10px;
}
.informacionResultadosBusqueda .contenedorTablaCaracteristicas{
	display: inline-block;
}
.informacionResultadosBusqueda{
	white-space: nowrap;
}
.contenedorFiltroBusqueda{
	background: white;
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 10px;
	padding: 10px;
	width: max-content;
	min-width: 180px;
	box-shadow: 5px 0 15px 0 rgba(255, 255, 255, 0.3);
}
.preContenedorFiltroBusqueda{
	display: none;
	position: absolute;
	top:64px;
	padding-top:10px;
}
.contenedorFiltroBusqueda .etiquetaOpcionFiltroBusqueda {
	font-size: 20px;
	margin-bottom: 0;
}
.contenedorFiltroBusqueda .OpcionFiltroBusqueda{
	text-align: left;
	cursor: pointer;
}
button.botonBlancoFiltroBusqueda{
	position: relative;
}
button.botonBlancoFiltroBusqueda:hover + .preContenedorFiltroBusqueda,button.botonBlancoFiltroBusqueda:focus + .preContenedorFiltroBusqueda{
	display: block;
}
.flechaArribaBlanca {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position: absolute;
	top:0px;
}
.preContenedorFiltroBusqueda:hover{
	display: block;
}
.OpcionFiltroBusqueda label{
	cursor: pointer;
}
.circuloPasoProceso{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: inline-block;
	position: relative;
	cursor:pointer;
}
.circuloPasoProceso +.circuloPasoProceso{
	margin-left: 30px;
	z-index: 1;
}
.contenedorCirculosPasosProceso .iconoCirculoPasosProceso{
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: contain;
}
.contenedorCirculosPasosProceso{
	text-align: center;
}
.circuloPasoProceso +.circuloPasoProceso:before {
	content: '';
	width: 40px;
	left:-35px;
	border-bottom: solid 5px #3B53A4;
 /*#3B53A4;
	*/
	position: absolute;
	top: 50%;
	z-index: 0;
}
.circuloPasoProceso.activo{
	box-shadow: 5px 0 15px 0 rgba(39, 55, 112, 0.5);
}
.circuloPasoProceso.deshabilitado{
	background: #B3B3B3;
	cursor: not-allowed;
}
.circuloPasoProceso.deshabilitado .tituloCirculoPasoProceso{
	color:#B3B3B3;
}
.circuloPasoProceso +.circuloPasoProceso.deshabilitado:before {
	border-bottom: solid 5px #B3B3B3;
}
.tituloDetalleProceso{
	font-size: 30px;
}
.cajonSombreado{
	background: white;
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.cursorMano{
	cursor: pointer;
}
.informacionProceso .contenedorTablaCaracteristicas{
	font-size: 20px;
}
.contenedorMonto.procesoMonto .textoColorGris{
	font-size: 25px;
}
.contenedorMonto.procesoMonto .valorMonto{
	font-size: 35px;
}
.contenedorDetalleProcesoDatos{
	position: relative;
}
.contenedorDetalleProcesoDatos .imagenMonto{
 /*position: absolute;
	width: 200px;
	right: 0;
	top:0;
	*/
	height: 60px;
	vertical-align: bottom;
	opacity: 0.4;
}
.contenedorProceso.informacionProceso.montoTotalProceso{
	padding: 10px;
}
.contenedorProceso.informacionProceso .contenedorMonto.procesoMonto{
	vertical-align:bottom;
}
.contenedorProceso.informacionProceso .contenedorMonto.procesoMonto .valorMonto{
	line-height: 30px;
}
ul.navbar-nav .nav-item .nav-link{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: bold;
}
.tituloTablaGeneral{
	font-weight: 300;
	font-size: 18px;
}
/*TABLE EDCA*/
table.tablaGeneral{
 /*border: 1px solid #ccc;
	*/
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}
table.tablaGeneral tr {
 /*background-color: #f8f8f8;
	*/
	border-bottom: 1px solid #ddd;
	padding: .35em;
}
table.tablaGeneral th, table.tablaGeneral td {
	padding: 18px;
}
table.tablaGeneral th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	vertical-align: bottom;
}
@media screen and (min-width: 768px){
	table.tablaGeneral th{
		padding: 18px;
		padding-left: 5px;
		padding-right: 5px;
	 	font-size: 9px;
	}
	table.tablaGeneral td {
		font-size: 11px;
	}
}
@media screen and (min-width: 992px){
	table.tablaGeneral th{
		padding: 18px;
	 	font-size: 10px;
	}
	table.tablaGeneral td {
		font-size: 12px;
	}
}
@media screen and (min-width: 1200px){
	table.tablaGeneral th, table.tablaGeneral td {
		padding: 18px;
		font-size: 13px;
	}
	
}
@media screen and (max-width: 767px){
	table.tablaGeneral th, table.tablaGeneral td {
		padding: 5px;
		font-size: 12px;
	}
	
}

@media screen and (max-width: 767px) {
	table.tablaGeneral {
			border: 0;
 }
	table.tablaGeneral thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
 }
	table.tablaGeneral tr {
		 /* border-bottom: 3px solid #ddd;
			*/
			display: block;
			margin-bottom: .625em;
 }
	table.tablaGeneral td {
		 /* border-bottom: 1px solid #ddd;
			*/
			display: block;
			text-align: right;
 }
	table.tablaGeneral td::before {
		 /* * aria-label has no advantage, it won't be read inside a table content: attr(aria-label);
			*/
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
 }
	table.tablaGeneral td:last-child {
			border-bottom: 0;
 }
	.tituloTablaGeneral{
 }
}
table.tablaGeneral tr{
	border:none;
}
table.tablaGeneral thead tr{
	border-bottom: 3px solid #ddd;
}
table.tablaGeneral tbody tr{
	border-top: 1px solid #ecf5fe;
}
table.tablaGeneral tbody tr:first-child{
	border: none;
}
.sombraPrimaria{
	box-shadow: 0px 0px 20px 0px rgba(59, 83, 164 ,0.1);
}
.sombraPrimaria:hover,.sombraPrimaria:focus{
	box-shadow: 0px 0px 20px 0px rgba(59, 83, 164 ,0.5);
}
/* NAVEGACION */
.navegacionTablaGeneral {
	margin: 20px 0;
	width: 100%;
	position: relative;
}
.numerosNavegacionTablaGeneral {
	position: relative;
	background-color: #e2e7f6;
	display: inline-block;
	margin: 0 12px 0 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #3B53A4;
	font-size: 14px;
	border-radius: 100%;
 /* font-weight: 700;
 */
	text-decoration: none;
}
.transicion{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.numerosNavegacionTablaGeneral:hover {
	background-color: white;
	color: #3B53A4;
	box-shadow: 10px 0 50px rgba(0, 131, 255, 0.15);
	text-decoration: none;
}
.numerosNavegacionTablaGeneral.current {
	background-color: #3B53A4;
	box-shadow: 10px 0 50px rgba(0, 131, 255, 0.15);
	color: white;
}
.numerosNavegacionTablaGeneral span {
	position: relative;
}
@media (max-width: 640px) {
	.numerosNavegacionTablaGeneral {
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			margin: 0 8px 0 0;
 }
}
@media (max-width: 460px) {
	.numerosNavegacionTablaGeneral {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 11px;
			margin: 0 8px 0 0;
 }
}
.numerosNavegacionTablaGeneral.numeroNormalNavegacionTablaGeneral{
	background: none!important;
	box-shadow: none!important;
	color:#6987ab!important;
}
.enlaceTablaGeneral{
	color:#3B53A4;
	text-decoration: underline;
}
/* .visualization-edca-result + .visualization-edca-result{
	margin-top:10px;
}
*/
.numeroTitularEstadistico{
	font-family: 'Poppins', sans-serif;
	text-align:center;
	font-size: 4em;
	font-weight: 600;
	line-height: 1.2em;
}
.descripcionNumeroTitularEstadistico{
	text-align: center;
	font-size: 2em;
}
.divisorNumeroTitularEstadistico{
	height: 4px;
	border-radius: 2px;
	display: block;
	margin:0 auto;
	width: 100px;
}
.contenedorEstadisticaInicial{
	z-index:1;
}
/**ELEMENTOS DE ELASTIC LIST*/
.panel-heading{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	font-size: 20px;
	background-color: #3B53A4;
	color: white;
}
.panel-default{
	border:none!important;
}
.panel-default > .panel-heading{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 10px;
	display: inline-block;
	padding: 5px 10px;
	font-size: 20px;
	background-color: #3B53A4!important;
	color: white!important;
}
.list-container{
	padding: 0;
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 10px;
}
.elastic-filter{
	border-radius: 18px;
	appearance: none;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	border:1px solid #ededed;
	outline: 0;
	padding: 5px 10px;
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	margin-top:5px;
	margin-bottom: 5px;
	width:90%;
}
.list-container .list-group-item.active{
	background: #3B53A4;
}
.list-group-item.active > .badge, .nav-pills > .active > a > .badge{
	color:#3B53A4;
}
.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item{
	border:none;
}
.list-group-item.hide-element{
	background:white;
}
@media only screen and (max-width:767px){
	.panel-default > .panel-heading{
			font-size:15px;
 }
	.panel-default > .panel-heading {
			border-top-left-radius: unset;
 }
	.list-container{
			box-shadow: unset;
 }
	.panel{
			-webkit-box-shadow:unset;
			box-shadow:unset;
 }
}
/**CIERRE ELEMENTOS DE ELASTIC LIST*/
.botonPasoProceso{
	display: inline-block;
}
.botonPasoProceso .circuloNumeroPasoProceso{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align:center;
	display: inline-block;
	vertical-align: top;
}
.botonPasoProceso .circuloNumeroPasoProceso span{
	color:white;
	vertical-align: middle;
	line-height: 40px;
	font-size: 25px;
	font-weight: 600;
}
.botonPasoProceso{
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.botonPasoProceso .circuloNumeroPasoProceso{
	background: #6079c9;
}
.botonPasoProceso .textoBotonPasoProceso{
	color:white;
	display: inline-block;
	padding: 0px 15px 0px 5px;
	font-size: 15px;
	line-height: 40px;
	vertical-align: top;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.botonPasoProceso.deshabilitado{
	background:#B3B3B3;
}
.botonPasoProceso{
	margin-right:10px;
	margin-top:10px;
}
.botonPasoProceso.activo,.botonPasoProceso:not(.deshabilitado):hover{
	background:#3B53A4;
	box-shadow: 5px 0 15px 0 rgba(39, 55, 112, 0.5);
}
.botonPasoProceso.deshabilitado .circuloNumeroPasoProceso{
	background: #C4C4C4;
}
.botonPasoProceso.activo .circuloNumeroPasoProceso{
	background: #6079c9;
}
.botonPasoProceso.activo .circuloNumeroPasoProceso span,.botonPasoProceso.activo .textoBotonPasoProceso{
	color:white;
}
.botonPropiedadProceso{
	opacity: 0.5;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
	outline: 0;
}
.botonPropiedadProceso.activo{
	opacity:1;
}
.botonPropiedadProceso:hover{
	opacity:1;
}
.botonPropiedadProceso img{
	width:60px;
	display: block;
	margin:0 auto;
}
.botonPropiedadProceso .textoBotonPropiedadProceso{
	text-align: center;
	font-size:20px;
}
.botonPropiedadProceso + .botonPropiedadProceso{
	margin-top:20px;
}
/*ELEMENTOS BOOTSTRAP*/
button.navbar-toggler{
	outline: 0;
	border:none;
	color:white;
}
ul.navbar-nav .nav-item .nav-link{
	cursor: pointer;
}
.navbar-brand img{
	height: 40px;
}
/*CIERRE DE ELEMENTOS BOOTSTRAP*/
@media only screen and (max-width:767px) {
	.botonPasoProceso .textoBotonPasoProceso{
			display: none;
 }
	.botonPropiedadProceso + .botonPropiedadProceso{
			margin-top:0px;
 }
	.contenedorProceso2{
			text-align: center;
 }
	.botonPropiedadProceso{
			vertical-align: top;
			max-width: 60px;
 }
	.botonPropiedadProceso img{
			width: auto;
			height: 45px;
 }
	.botonPropiedadProceso .textoBotonPropiedadProceso{
			font-size: 12px;
 }
	.contenedorPasosProceso{
			text-align: center;
 }
	.tituloDetalleProceso{
			font-size: 20px;
 }
	h4{
			font-size:15px;
 }
	.tituloTablaCaracteristicas,.contenidoTablaCaracteristicas{
			font-size:13px;
 }
	.contenedorDetalleProcesoDatos .imagenMonto{
			height: 40px;
 }
	.contenedorMonto.procesoMonto .textoColorGris{
			font-size:15px;
 }
	.contenedorMonto.procesoMonto .valorMonto{
			font-size:20px;
 }
	.contenedorProceso.informacionProceso .contenedorMonto.procesoMonto .valorMonto{
			line-height: 25px;
 }
	.contenedorElementosProceso{
			display: flex;
 }
	.contenedorProceso1{
			order:2 
 }
	.contenedorProceso2{
			order:1 
 }
	.contenedorProceso3{
			order:3 
 }
	.botonPropiedadProceso{
			display: inline-block;
			margin-right: 20px;
 }
	.botonPasoProceso{
			margin-bottom: 20px;
 }
	.busquedaEspaciadoHorizontal{
			white-space: normal;
 }
	.contenedorFiltrosBusqueda,.contenedorResultadosBusqueda{
			width: 100%;
			display: block;
 }
}
@media only screen and (max-width:1200px) {
	.contenedorTablaCaracteristicas{
			width: 100%;
			display: block;
 }
}
@media only screen and (max-width:767px) {
	.botonBlancoFiltroBusqueda {
			height: 40px;
			width: 40px;
			border-radius: 20px;
			font-size: 20px;
 }
	.campoBlancoBusqueda{
			border-radius: 20px;
			height: 40px;
			font-size: 15px;
			padding-right: 40px;
 }
	.campoBlancoBusquedaPadre i{
			font-size: 20px;
			top:10px;
			right: 10px;
 }
	.preContenedorFiltroBusqueda{
			top: 40px;
 }
	.contenedorFiltroBusqueda .etiquetaOpcionFiltroBusqueda{
			font-size:15px;
 }
	.numeroTitularEstadistico{
			font-size:30px;
 }
	.divisorNumeroTitularEstadistico{
			height: 2px;
			border-radius: 1px;
			width: 50px;
 }
	.descripcionNumeroTitularEstadistico{
			font-size: 15px;
 }
	.fondoIconos{
			height: 20vh;
			object-fit: cover;
 }
	.contenedorBusquedaInicial{
			padding-top: 10vh;
 }
}
@media only screen and (max-width:600px) {
	.botonPropiedadProceso img{
			height: 40px;
 }
	.botonPropiedadProceso .textoBotonPropiedadProceso{
			display: none;
 }
	.contenedorProceso2{
			text-align: center;
 }
}
@media only screen and (max-width:767px){
	.botonPasoProceso{
			position: relative;
 }
	.botonPasoProceso:nth-child(1) {
			z-index: 5;
 }
	.botonPasoProceso:nth-child(2) {
			z-index: 4;
 }
	.botonPasoProceso:nth-child(3) {
			z-index: 3;
 }
	.botonPasoProceso:nth-child(4) {
			z-index: 2;
 }
	.botonPasoProceso:nth-child(5) {
			z-index: 1;
 }
	.botonPasoProceso +.botonPasoProceso:before {
			content: '';
			width: 2px;
			left: 50%;
			border-top: solid 35px #6079c9;
			position: absolute;
			top: -35px;
			z-index: 0;
			height: 100px;
 }
	.botonPasoProceso +.botonPasoProceso.deshabilitado:before {
			content: '';
			width: 2px;
			left: 50%;
			border-top: solid 35px #C4C4C4;
			position: absolute;
			top: -35px;
			z-index: 0;
			height: 100px;
 }
	.contenedorFiltrosBusqueda{
			position: fixed;
			z-index: 1;
			background-color:white;
			left:0;
			width: 250px;
			box-shadow: 5px 15px 15px 0 rgba(39, 55, 112, 0.3);
			margin-top:0;
			height: calc(100vh - 66px);
			top:66px;
			-webkit-animation-name: slideInLeft;
			animation-name: slideInLeft;
 }
	.campoAzulBusquedaPadre {
			width: calc( 100% - 65px);
 }
 
	.campoAzulBusquedaPadre.normal {
			width: 100%;
 }
	.filtrosContenedoFiltrosBusqueda{
			height: calc(100vh - 110px);
			overflow-y: auto;
			width: 100%;
 }
 /* .tituloFiltrosMenu::after{
			background: linear-gradient(#FFF,rgba(255, 255, 255, 0));
			content: "";
			height: 30px;
			left: 0;
			position: absolute;
			top: 30px;
			width: 100%;
			z-index:1;
 }
 */
	.contenedorBotonAzulFiltroBusqueda{
			display: inline-block!important;
			margin-left: 10px;
 }
	.contenedorFiltrosBusqueda.cerrado{
			display: none;
 }
	.cerrarContenedorFiltrosBusqueda{
			display: block!important;
			position: absolute;
			font-size:20px;
			text-align: right;
			right: 10px;
			top: 10px;
 }
	.tituloFiltrosMenu{
			position: relative;
			font-size: 22px;
			padding-top:10px;
			padding-left:5px;
 }
	.campoAzulBusqueda,.filtroBusquedaPagina .tituloFiltroBusquedaPagina{
			font-size: 15px;
 }
	.filtroBusquedaPagina .tituloFiltroBusquedaPagina{
			border-top-left-radius: unset;
 }
	.filtroBusquedaPagina{
			box-shadow: unset;
 }
	.tituloFiltrosAplicados{
			font-size: 18px;
 }
	.filtrosContenedoFiltrosBusqueda::-webkit-scrollbar-track,.list-container ul::-webkit-scrollbar-track {
			-webkit-box-shadow: unset;
		 /*inset 0 0 6px rgba(0,0,0,0.3);
		 */
			box-shadow: unset;
			border-radius: 10px;
			background-color: rgba(245, 245, 245,.5);
 }
	.filtrosContenedoFiltrosBusqueda::-webkit-scrollbar,.list-container ul::-webkit-scrollbar {
			width: 4px;
			background-color: rgba(245, 245, 245,.5);
 }
	.filtrosContenedoFiltrosBusqueda::-webkit-scrollbar-thumb,.list-container ul::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow:unset;
		 /* inset 0 0 6px rgba(0,0,0,.3);
		 */
			box-shadow: unset;
			background-color: rgba(119, 121, 121,.5);
 }
}
.elementosResultadosResumen span{
	padding:4px 15px;
	display: inline-block;
}
footer a,footer p{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#c4c4c4;
}
footer a:hover{
	text-decoration: none;
	color:white;
}
.fondoPrincipalInicio::before {
	background-image: url(../img/landing/iconosEdca.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
}
.fondoPrincipalPagina::before {
	background-image: url(../img/landing/iconosEdca.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.1;
}
.posicionRelativa{
	position: relative;
}
.fechaDescarga{
	padding: 5px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.tituloGrueso{
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
.transparencia{
	opacity:0.5;
}
.elementoApi{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 22px;
	padding: 10px 15px;
	box-sizing: border-box;
}
.metodoApi + .metodoApi{
	margin-top: 10px;
}
.elementoApiContenedor + .elementoApiContenedor{
	margin-top:10px;
}
.elementoApiContenedor{
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
	border-radius: 22px;
}
.metodoApiTipo{
	padding: 5px 5px;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 4px;
	margin-right: 10px;
}
.descripcionMetodoApi{
	display: inline-block;
}
.enlaceMetodoApi{
	display: inline-block;
}
.metodoApiTipo + .metodoApiTipo{
	margin-top: 10px;
}
.botonAbrirElementoApi{
	position: absolute;
	top:10px;
	right: 10px;
	outline: 0;
	border:none;
}
.elementoApiContenedor.abierto .botonAbrirElementoApi{
	transform: rotate(180deg);
}
.metodoApi .metodo{
	padding-left: 10px;
	border-radius: 4px;
}
.metoApiInformacion table.tablaGeneral th{
	font-size: 11px;
}
.metoApiInformacion table.tablaGeneral td{
	font-size: 13px;
}
.metoApiInformacion table.tablaGeneral thead tr{
	border-bottom: 1px solid #ddd;
}
.metodo{
	outline: 0;
}
.tamanoMinimo{
	min-height:calc( 100vh - 290px) ;
}
.contenedorFechaDescarga{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	position: absolute;
	left:-1px;
}
.contenedorPropiedadesDescarga{
	display: inline-block;
	padding-left: 70px;
}
.fechaAnoDescarga{
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	display: block;
	font-size: 20px;
	line-height: 18px;
	margin-top:11px;
}
.fechaMesDescarga{
	display: block;
	font-size: 15px;
	line-height: 10px;
}
.fechaDiaDescarga{
	display: block;
	font-size: 13px;
}
.cajonDescarga{
	border-radius: 10px;
	vertical-align: top;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	position: relative;
	min-height: 60px;
}
.cajonDescarga:hover{
	box-shadow: 5px 0px 15px 0px rgba(148, 146, 146,0.1);
}
.resultadoBusquedaProceso:hover{
	box-shadow: 5px 0px 15px 0px rgba(148, 146, 146,0.2);
}
.cajonDescarga + .cajonDescarga{
	margin-top: 10px;
}
.contenedorPropiedadesDescarga{
	vertical-align: top;
	width: 100%;
}
.enlaceArchivoDescarga{
	font-size: 25px;
	font-weight: 600;
}
.contenedorClasesArchivos{
	vertical-align: middle;
	text-align: right;
	padding: 10px 15px;
	box-sizing: border-box;
}
.tituloDescarga{
	letter-spacing: .1em;
	font-weight: 600;
	font-size: 15px;
	margin-top: 10px;
	display:block;
}
.descripcionDescarga{
	letter-spacing: .1em;
	font-size: 15px;
	display:block;
}
.contenedorClasesArchivos > span:hover{
	opacity: 1;
}
.etiquetaFiltro i{
	cursor: pointer;
}
.descargaIconos > span:hover{
	color: #273F5B;
}
.logosEntidades img{
	height: 80px;
	vertical-align: middle;
	margin-top: 35px;
	margin-bottom: 35px;
	opacity: 0.8;
}
@media screen and (max-width: 1200px) {
	.logosEntidades img{
		height: 60px;
		vertical-align:middle;
	}
}
.logosEntidades img:hover{
	opacity: 1;
}
.logosEntidades div:nth-child(1) img{
	height: 140px;
	margin: 0;
}
.logosEntidades > div{ 
	text-align: center;
}
.textoTitular1Grueso{
	font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.textoTitular2Grueso{
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.textoParrafoResaltado{
	font-size:20px;
}

.divisorTextos{
	height: 4px;
	border-radius: 2px;
	display: block;
	margin:0 auto;
	width: 200px;
	max-width: 50%;
	text-decoration: underline;
}
.enlaceFondoColor{
	color:white;
	opacity: 0.8;
}

.enlaceFondoColor:hover{
	color:white;
	text-decoration: underline;
	opacity: 1;
}
@media screen and (max-width: 767px) {
	.navbar-brand img {
		height: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
		box-sizing: content-box;
	}
}

@media (max-width: 575px){
	.textoTitular1Grueso {
		font-size: 20px;
	}
	.textoTitular2Grueso {
		font-size: 0.8rem;
	}
	.textoParrafoResaltado{
		font-size: 15px;
	}
}
@media (min-width: 576px){
	.textoTitular1Grueso {
		font-size: 25px;
	}
	.textoTitular2Grueso {
		font-size: 1rem;
	}
	.textoParrafoResaltado{
		font-size: 17px;
	}
	}
@media (min-width: 768px){
.textoTitular1Grueso {
	font-size: 30px;
	font-size: 1.2rem;
}
}
@media (min-width: 992px){
	.textoTitular1Grueso {
		font-size: 2.5rem;
	}
	.textoTitular2Grueso {
		font-size: 1.5rem;
	}
	}

.tablaGeneral{
	border-radius: 10px;
	overflow: hidden;
}
.tablaGeneral thead th{
	color:#888888;
	
}
.cajonSombreado2{
	-webkit-box-shadow: 0 1px 6px 0 rgba(117,117,117,.25);
    box-shadow: 0 1px 6px 0 rgba(117,117,117,.25);
}
.botonAyuda{
	width: 35px;
	height:35px;
	border:3px solid #c4c4c4;
	color:#c4c4c4;
	border-radius: 50%;
	font-size: 18px;
	line-height: 35px;
	vertical-align: middle;
	position: relative;
	outline: 0;
}
.botonAyuda i {
	position: absolute;margin:0 auto;
	left:0;
	right: 0;
	top:5px;
}
.alineadoArriba{
vertical-align: top;
}
.botonAyuda:hover{
	border:3px solid #273F5B;
	color:#273F5B;

}
.compartirEnlace i{
	margin-top: 7px;
}

.ui-widget-header{
	background:white;
	border:none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border:none;
	background: white;
	color:gray;
	font-weight: 600;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color:black;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	color:#3B53A4;
}
.ui-widget.ui-widget-content{
	border:none;
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.1);
}


.compartirEnlace{
	background: #273F5B;
	color:white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
}
.compartirEnlace:hover{
	color:white;
	box-shadow: 0px 0px 20px 0px rgba(148, 146, 146,0.3);
}
.compartirEnlace.twitter{
	background: #1DA1F2;
}
.compartirEnlace.whatsapp{
	background: #2EC750;
}
.compartirEnlace.facebook{
	background: #4267B2;
}
.colorTwitter{
	color:#1DA1F2;
}

.colorWhatsapp{
	color:#2EC750;
}
.colorFacebook{
	color:#4267B2;
}
.visualizacionMiniatura{
	object-fit: contain;
	height: 200px;
	max-width: 100%;
	margin:0 auto;
	display: block;
}